body {
  margin: 0;
  //background-color: #2c3e50;
  background-color: black;
}

#game {
  background-color: #444;
}

canvas {
  width:768px;
  height:480px;
  cursor: url('../../sprites/cursor1.png'), auto;
  user-select: none;
  // image-rendering: optimizeSpeed;             /* Older versions of FF          */
  // image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  // image-rendering: -webkit-optimize-contrast; /* Safari                        */
  // image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  // image-rendering: pixelated;                 /* Awesome future-browsers       */
  // -ms-interpolation-mode: nearest-neighbor;
}

main {
  position: relative;
  // margin: 0 auto;
  // height: 480px;
  width: 100%;
  height: 100vh;
}

#canvas-box {

        position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
    // position: absolute;
  canvas {

  }
}

#game-chat {
  width: 300px;
  // height: 150px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 3px;
  left: 3px;
  cursor: url('../../sprites/cursor1.png'), auto;
  border: solid 1px black;
  // transition: width 1s, height 1s;
  input {
    width: 100%;
    box-sizing: border-box;
    // position: absolute;
    // bottom: 0;
    background-color: transparent;
    padding: 5px;
    color: white;
    font-family: 'Pixelbroidery';
    border: solid 2px black;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.6);
    &:focus {
      outline: none;
      + #messages {
        background-color:red!important;
        color:red!important;
      }
    }
  }
  #messages {
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
    color: white;
    width: 100%;
    min-height: 50px;
    max-height: 150px;
    overflow-x: hidden;
    // height: calc(100% - 25px);
    // max-height: calc(100% - 25px);
    li {
      list-style-type: none;
      padding: 3px;
    }
  }
  #arrow {
    width: 6px;
    height: 16px;
    position: absolute;
    top: 2px;
    right: 5px;
    image-rendering: pixelated;
  }
}

ul {
  font-size: 13px;
  padding: 1px 15px;
  margin: 1px;
  max-height: 200px;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  overflow-x:hidden;
  color:white;
}

// @media only screen and (max-width: 600px) {
//   #todo {
//     display: none;
//   }
// }
//
// @media screen and (orientation:landscape) {
//   #todo {
//     display: none;
//   }
//    #canvas-box {
//      width: 100%;
//      height:100vh;
//    }
//    #game {
//      width: 100%;
//      height: 100vh;
//    }
// }

// @font-face {
//     font-family: 'Pixelbroidery';
//     src: url('../../fonts/Pixelbroidery.ttf');
// }
